body {
  background-color: #1c3f57;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
}


ul li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem !important;
  margin-top: 1rem;
}
.content {
  
  color: #fff;
}
.checkbox{
  color: grey;
}
.register{
  margin-top: 20px;
}
.row{
  margin: 0 !important;
}
.header{
  background-color:#7fc7c7;
  padding: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.col-sm-12, .col-md-6, .col-lg-6{
  padding: 0!important;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  color: #1c3f57;
}
.bt a{
  float:right;
  margin-top: 10px;
  border-style: none;
  padding: 4px;
  color:#fff;
  margin-right:10px;
  width: 80px;
  box-sizing: border-box;
  border-radius: 3px;

}

button a{
  text-decoration: none;
  color: #fff;
}
.Form{
  background-color: #fff;
}
.form-control{
  box-sizing: border-box !important;
}
.container{
  margin: 0;
  padding: 0;
}
button{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  background-color: #7fc7c7;
}
h3{
background-color: #7fc7c7;
text-align: center;
color: #fff;  
padding: 20px;
}
form{
padding: 20px;
}
input{
margin: 0;
}
.offset-lg-2, .offset-md-1{
  margin:10px;
}